@import '../../assets/styles/var';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  position: relative;
  object-fit: cover;
  background-color: $white;
  box-shadow: 0px 4px 6px 4px #00000014;
  border-radius: 15px;

  &__image {
    display: block;
    width: fit-content;
    width: 100%;
    height: auto;
    border-radius: 15px;
  }

  &__title {
    font-family: $Montserrat-Regular;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    letter-spacing: 0.01em;
  }

  &__button {
    border: none;
    padding: 21px 55px;
    border-radius: 45px;
    background-color: $light-pink;
    font-family: $Montserrat-Regular;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    letter-spacing: 0.05em;
    color: $dark-gray;
    transition: 0.3s all;
    cursor: pointer;
    &:hover {
      background-color: $light-gray;
      border: 1px solid $bright-pink;
    }
  }
}
