@import '../../assets/styles/var.scss';

.container {
  padding-left: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $darkGreen;
}

.info {
  width: 55%;
}
.image {
  padding: 4rem;
  width: 100%;
  height: auto;
  max-width: 600px;
}

.subtitle {
  padding-top: 2rem;
  font-family: $Montserrat-Medium;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.01em;
}

.paragraph,
.list {
  padding-top: 1rem;
  font-family: $Montserrat-Light;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.list {
  list-style-position: inside;
  list-style-type: circle;
}

.title {
  padding: 4rem 0;
  text-align: center;
  font-family: $Montserrat-Medium;
  font-size: 38px;
  line-height: 40px;
}
.link {
  color: $darkGreen;
  text-decoration: underline;
  text-underline-offset: 2.5px;
  text-decoration-thickness: 1px;
  &:hover,
  &:active {
    text-decoration: none;
  }
}
