@import '../../assets/styles/var';

.catalogue {
  padding: 4rem 6rem 12rem 21rem;
  margin: 0 auto;
}

.category__title {
  padding-bottom: 1.56rem;
  color: $dark-gray;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
}
.category {
  padding-top: 7.5rem;
}
.category__item {
  img {
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 1440px) {
  .catalogue {
    padding: 4rem 4rem 10rem 15rem;
  }

  .category__title {
    font-size: 28px;
    line-height: 35px;
  }
  .category {
    padding-top: 4rem;
  }
}
