@import '/src/assets/styles/var.scss';

.caregories_container {
  max-width: 80rem;
  margin: 6rem auto;

  .caregories_wrapper {
    h2 {
      font-family: $Montserrat-Light;
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }

  .caregories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;

    .caregories_items {
      flex-basis: calc(33.33% - 0.5rem);
      height: 26rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('../../../assets/images/bonbon-main_categories.png');
      margin-bottom: 0.5rem;
      background-size: cover;
      background-position: center;
      color: aliceblue;
      font-size: 2rem;
      transition: 0.5s all;
      font-family: $Montserrat-Light, sans-serif;

      &.faded {
        opacity: 0.65;
      }

      &:hover {
        cursor: pointer;
        scale: 1.03;
        transition: 0.5s all;
      }
    }
  }
}
