@import "../../../assets/styles/var.scss";

.caregories_container {
  max-width: 80rem;
  margin: 0 auto;

  .caregories_wrapper {
    h2 {
      font-family: $Montserrat-Bold, sans-serif;
    }
  }

  .caregories {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .caregories_items {
      width: 25rem;
      height: 25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../../../assets/images/bonbon-main_categories.png");
      color: aliceblue;
      font-size: 2rem;
      transition: 0.5s all;
      font-family: $Montserrat-SemiBold, sans-serif;

      &.faded {
        opacity: 0.65;
      }

      &:hover {
        cursor: pointer;
        scale: 1.03;
        transition: 0.5s all;
      }
    }
  }
}
