@import '/src/assets/styles/var.scss';

.caregories_container {
  background-color: $pink;
  max-width: 1920px;
  display: flex;
  justify-content: center;

  .caregories_wrapper {
    padding: 4.68rem 0 11.5rem;
  }

  .title {
    padding-bottom: 4.68rem;
    font-family: $Montserrat-Light;
    font-size: 2rem;
    font-weight: 300;
    line-height: 39.01px;
    letter-spacing: 0.01em;
    color: $dark-gray;
  }
  .caregories {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1280px;
    gap: 10px;

    .caregories_items {
      flex-basis: calc(33.33% - 0.5rem);
      height: 26rem;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 1rem;
      text-align: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: #f4f0f0;
      font-size: 2rem;
      transition: 0.5s all;
      font-family: $Montserrat-Light, sans-serif;
      line-height: 110%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      border-radius: 15px;
      overflow: hidden;

      &.faded {
        opacity: 0.65;
      }

      &:hover {
        cursor: pointer;
        scale: 1.03;
        transition: 0.5s all;
      }
    }
  }
}
