@import '../../../assets/styles/var';

.bestsellers__title {
  font-family: $Montserrat-Light;
  font-size: 2rem;
  font-weight: 300;
  line-height: 39.01px;
  letter-spacing: 0.01em;
  color: $dark-gray;
}
