@import '../../assets/styles/var';

.header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  max-width: 1920px;
  background-color: $pink;
  padding: 1rem 6rem;
  min-height: 7.5rem;
  display: flex;
  justify-content: space-between;
}

.header__leftContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.header__logo {
  width: 8rem;
}

.header__logo img {
  width: 100%;
}

.header__menu {
  display: flex;
  gap: 5.5rem;
  list-style-type: none;
}

.header__menuLink {
  font-family: $Montserrat-Medium, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.82px;
  letter-spacing: 0.01em;
  color: #0d1616;
  text-decoration: none;
  &:hover {
    color: $dust-pink;
  }
}

.header__rightContainer {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header__search {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.header__input {
  width: 14rem;
  height: 2rem;
  border-radius: 1.25rem;
  background: $light-gray;
  border: 0.5px solid #8d8d8d;
  outline: none;
  padding: 0.3rem;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.header__icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__user,
.header__heart,
.header__cart {
  stroke: $dark-gray;
  fill: none;
}

.header__mobile {
  display: none;
  stroke: $dark-gray;
}

.header__mobile_menu {
  display: none;
}

@media (max-width: 1919px) {
  .header {
    padding: 1rem 4rem;
    max-width: 1440px;
  }
  .header__logo {
    width: 5rem;
  }
  .header__leftContainer {
    gap: 2rem;
  }

  .header__menuLink {
    font-size: 20px;
    line-height: 26.82px;
  }
}
@media (max-width: 1439px) {
  .header {
    padding: 1rem 2rem;
    max-width: 768px;
  }
  .header__menu {
    display: none;
  }

  .header__mobile {
    display: inline;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 1rem 1.5rem;
    max-width: 375px;
    min-height: 4rem;
    height: 70px;
  }

  .header__logo {
    width: 4rem;
  }

  .header__rightContainer {
    display: none;
  }

  .header__mobile_menu {
    display: flex;
    gap: 2rem;
  }
}
