@import '../../assets/styles/var';

.header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  background-color: $pink;
  padding: 1.5rem 6rem;
  min-height: 7.5rem;
  display: flex;
  justify-content: space-between;
}

.header__leftContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.header__logo {
  width: 11rem;
}

.header__logo img {
  width: 100%;
}

.header__menu {
  display: flex;
  gap: 5.5rem;
  list-style-type: none;
}

.header__menuLink {
  font-family: $Montserrat-Medium, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.82px;
  letter-spacing: 0.01em;
  color: #0D1616;
  text-decoration: none;
}

.header__rightContainer {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header__search {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.header__input {
  width: 14rem;
  height: 2rem;
  border-radius: 1.25rem;
  background: $light-gray;
  border: 0.5px solid #8D8D8D;
  outline: none;
  padding: 0.3rem;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.header__icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__user,
.header__heart,
.header__cart {
  stroke: $dark-gray;
  fill: none;
}