@import '/src/assets/styles/var.scss';

.footer {
  max-width: 1920px;
  background-color: #eaeaea;
  color: $dark-gray;
}
.footer__text__block {
  padding: 4.4rem 12rem;
  background-color: $pink;
}

.footer__text {
  font-family: $Montserrat-Regular;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: black;
  &:last-child {
    padding-top: 3rem;
  }
}

.footer__container {
  padding: 5rem 0 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer__contacts {
  display: flex;
  justify-content: space-around;
}
.footer__map__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titles__wrapper {
  display: flex;
  flex-direction: column;
}

.footer__title {
  margin: 5px;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.01em;
  color: $dark-gray;
  font-family: $Montserrat-Light;
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  color: $dark-gray;
  gap: 2rem;
}

.contacts__address,
.contacts__working__hours {
  font-family: $Montserrat-Light;
}

.contacts__phone,
.contacts__mail {
  text-decoration: none;
  color: inherit;
}
.contacts__phone {
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
  font-family: $Montserrat-Light;
}

.contacts__working__hours {
  text-align: left;
}

.contacts__icons {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.contacts__mail {
  padding-top: 2rem;
  font-family: $Montserrat-Light;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
}

.policy__wrapper {
  display: flex;
  flex-direction: column;
  font-family: $Montserrat-SemiBold;
  color: #505656;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  gap: 1.34rem;
}

.policy__offer,
.policy__policy,
.policy__delivery__payment {
  text-decoration: none;
  color: inherit;
}

.policy__offer {
  &:nth-child(3) {
    padding-bottom: 4.56rem;
  }
}

@media (max-width: 1919px) {
  .footer__text {
    font-size: 28px;
    line-height: 34px;
  }

  .footer__container {
    padding: 5rem 0 5rem;
  }
  .policy__wrapper {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 1439px) {
  .footer__container {
    padding: 5rem 1rem 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem;
  }
  .footer__text__block {
    padding: 4rem 2rem;
  }
  .footer__text {
    font-size: 20px;
    line-height: 24px;
  }

  .footer__map__wrapper {
    align-items: start;
  }

  iframe {
    width: 450px;
    height: 350px;
  }

  .footer__title {
    font-size: 24px;
    line-height: 30px;
  }

  .contacts__wrapper {
    gap: 1rem;
  }

  .contacts__phone {
    font-size: 18px;
    line-height: 26px;
  }

  .contacts__mail {
    padding-top: 0;
    font-size: 18px;
    line-height: 26px;
  }

  .policy__wrapper {
    font-size: 18px;
    gap: 1.34rem;
  }

  .policy__offer {
    &:nth-child(3) {
      padding-bottom: 2rem;
    }
  }

  .contacts__icons {
    gap: 1rem;
  }

  .contacts__whatsapp__icon,
  .contacts__vk__icon {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 1200px) {
  .footer__container {
    width: 1000px;
  }

  .footer__contacts {
    font-size: 16px;
    font-weight: 100px;
  }
  .footer__title {
    font-size: 30px;
  }
  .policy__wrapper {
    font-size: 20px;
  }
  .contacts__phone {
    font-size: 25px;
  }
  .contacts__mail {
    font-size: 25px;
  }
  .contacts__address,
  .contacts__working__hours,
  .contacts__mail {
    font-size: 20px;
  }
  .footer__map__wrapper {
    left: 10;
    width: 90%;
  }

  .contacts__whatsapp__icon,
  .contacts__vk__icon {
    justify-content: left;
    width: 40px;
    height: 40px;
  }

  .policy__wrapper {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr;
  }
  .footer__text {
    font-size: 20px;
  }
  .footer__map__wrapper {
    width: 80%;
    height: 80%;
    gap: 0;
    position: 0;
    margin-bottom: 0;
  }

  .footer__contacts {
    left: 10px;
    gap: 0%;
    padding: 0;
    margin: 0;
  }
  .contacts__working__hours {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footer__title {
    font-size: 20px;
    font-weight: 100px;
  }
  .contacts__phone {
    font-size: 15px;
  }
  .footer__contacts {
    margin-left: 10%;
    margin-top: -10%;
  }
  .contacts__address,
  .contacts__working__hours,
  .contacts__mail {
    font-size: 15px;
  }
  .contacts__icons {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .contacts__whatsapp__icon,
  .contacts__vk__icon {
    width: 30px;
    height: 30px;
  }
  .policy__wrapper {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  .footer__map__wrapper {
    width: 350px;
    height: 350px;
    left: 65px;
    margin-bottom: 70px;
  }
  .footer__contacts {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-top: -10%;
    align-items: center;
  }
  .footer__text {
    font-size: 15px;
  }

  .contacts__working__hours {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footer__title {
    font-size: 20px;
    font-weight: 100px;
  }
  .contacts__phone {
    font-size: 15px;
  }
  .footer__contacts {
    margin-left: 10%;
  }
  .contacts__address,
  .contacts__working__hours,
  .contacts__mail {
    font-size: 15px;
  }
  .contacts__icons {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 45px;
  }
  .contacts__whatsapp__icon,
  .contacts__vk__icon {
    width: 30px;
    height: 30px;
  }
  .policy__wrapper {
    font-size: 15px;
    margin-left: -240px;
    margin-bottom: 20px;
    align-items: center;
  }
}
