@import '../../assets/styles/_var.scss';

.footer {
  width: 100vw;
  background-color: rgb(8, 69, 61);
  color: $biege;
}

.footer_img {
  width: 100%;
  margin-bottom: 20px;
}

.footer__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  align-items: flex-start;
}
.footer__map__wrapper {
  position: relative;
  overflow: hidden;
  margin-left: 20%;
}

.title__wrapper {
  text-align: center;
}

.footer__title {
  margin-top: 10px;
  font-size: 1.5em;
  font-family: $Montserrat-Bold;
  margin: 0;
  padding: 0;
}

.contacts__wrapper {
  text-align: left;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.contacts__address,
.contacts__working__hours {
  p {
    margin: 0;
    padding: 0;
  }
}

.contacts__phone,
.contacts__mail {
  text-decoration: none;
  color: inherit;
}
.contacts__phone {
  font-size: 1.5em;
  font-family: $Montserrat-Bold;
}
.contacts__phone:hover {
  background-color: $pink;
}
.contacts__working__hours {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}

.contacts__icons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}

.contacts__whatsapp__icon,
.contacts__vk__icon {
  display: flex;
  align-items: center;
  color: $biege;
}
.contacts__mail {
  font-size: 0.8em;
  margin-bottom: 10px;
}
.footer__divider {
  width: 100%;

  border: none;
  border-top: 1px solid $biege;
}

.footer__container__team {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
  margin-right: 80px;
}

.policy__wrapper {
  display: flex;
  gap: 20px;
}

.policy__offer,
.policy__policy,
.policy__delivery__payment,
.contacts__team {
  text-decoration: none;
  color: inherit;
}
