@import '../../../assets/styles/var';

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0 7rem;
}

.ready_bouquet__title {
  font-family: $Montserrat-Light;
  font-size: 2rem;
  font-weight: 300;
  line-height: 39.01px;
  letter-spacing: 0.01em;
  color: $dark-gray;
}

@media (max-width: 1439px) {
  .container {
    padding: 2rem 0 4rem;
  }
  .ready_bouquet__title {
    font-size: 1.5rem;
  }
}
