@import '../../../assets/styles/var.scss';

.mainBanner_container {
  display: flex;
  justify-content: center;
  background-image: url('../../../assets/images/BonFlower.png');
  background-repeat: no-repeat;
  width: 1920px;
  height: 1211px;
  background-position: center 7.5rem;
  background-size: contain;
  opacity: 0.75;

  font-style: normal;
}
.mainBanner_container_logo {
  padding: 13.75rem 6rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  gap: 0.75rem;
}
.mainBanner_logo {
  width: 100%;
  max-width: 521px;
  height: auto;
}
.mainBanner_text {
  padding-bottom: 1.7rem;
  font-family: $Montserrat-Regular, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  text-align: right;
  letter-spacing: 0.05em;
  color: $bright-pink;
}
.mainBanner_button {
  background-color: $pink;
  color: $dark-gray;
  border-radius: 45px;
  border: none;
  font-family: $Montserrat-Medium, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 335px;
  height: 72px;
  cursor: pointer;
  transition: 0.3s all;

  &:hover,
  &:active {
    transition: 0.3s all;
    border: 2px solid $bright-pink;
    background-color: $light-gray;
  }
}
