@import '/src/assets/styles/var.scss';

#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.app {
  margin: 0 auto;
  width: 1920px;
}

@media (max-width: 1919px) {
  .main {
    width: 1440px;
  }
}
@media (max-width: 1439px) {
  .main {
    width: 760px;
  }
}
@media (max-width: 759px) {
  .main {
    width: 390px;
  }
}
