/* Используется для переопределения классов слайдера */
@import '/src/assets/styles/var.scss';

.swiper-slide {
  position: relative;
  width: 320px;
  // aspect-ratio: 3/4;
}

.swiper-button-prev,
.swiper-button-next {
  color: $dust-pink;
}

@media (max-width: 1439px) {
  .swiper-slide {
    width: 250px;
  }
}
@media (max-width: 767px) {
  .swiper-slide {
    width: 290px;
    height: 420px;
  }
  .swiper-slide img {
    max-height: 230px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 96%);
    width: calc(var(--swiper-navigation-size) / 5 * 27);
  }
}
